
@-webkit-keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

@-moz-keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

@-o-keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

@keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}



